.container {
    position: relative;
    display: flex;
  }
  
  .tooltip {
    position: absolute;

    padding: 20px 20px;
    margin-top: 80px;
    justify-content: center;
    color: #004980;
    background-color: #C2F5FF;
    font-family: Roboto;
    border-radius: 12px ;
    text-align: center;
    white-space: pre-line;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400 ;
    pointer-events: none;
    z-index:99999999;  
  }